h1 {
  background-color: #19B5FE;
  color: #eee;
  margin-bottom: 0;
  padding: 1em;
  font-size: 1.5em;
}
h2 {
  background-color: #19B5FE;
  color: #eee;
  padding: 1em;
  padding-top: 0;
  font-size: 1.3em;
}


@media screen and (max-width: 420px) {
  h1 {
     background-color: #1E824C;
   
    margin-bottom: 0;
    padding: 0.6em;
    padding-bottom: 0;
    font-size: 1.3em;
  }
  h2 {
  background-color: #1E824C;
    padding: 0.6em;
    padding-top: 0;
    font-size: 1.1em;
  }
 }
